
disp_size_xl()
  @media screen and (min-width 1200px)
    {block}


disp_size_l()
  @media screen and (min-width 992px) and (max-width 1199px)
    {block}


disp_size_m()
  @media screen and (min-width 768px) and (max-width 991px)
    {block}


disp_size_s()
  @media screen and (min-width 768px) and (max-width 991px)
    {block}


disp_size_down_sp()
  @media screen and (max-width 767px)
    {block}
