appearance()
  -moz-appearance none
  -webkit-appearance none
  appearance none

transform-scale
  -webkit-transform scale arguments
  -moz-transform scale arguments
  -o-transform scale arguments
  -ms-transform scale arguments
  transform scale arguments
