border-radius(num)
  -webkit-border-radius num
  -moz-border-radius num
  border-radius num

boxsizing-borderbox()
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  box-sizing border-box

box-shadow()
 -webkit-box-shadow arguments
 -moz-box-shadow arguments
 box-shadow arguments

mar_pad_0()
  margin 0
  padding 0
