/* Essence getStylus V 0.0.2
copyright 2017, Essence Webservice Ryo Inagaki
http://essencews.com
released under the MIT license
*/

@import "functions"

// Margin
margin_article_section = 40px
margin_article_elem = 20px

// Font
fontsize_article = 14px

@import "include/normalize"
@import "include/article"
