article
  section
    margin-bottom margin_article_section
    &:last-child
      margin-bottom 0
    h1,h2,h3,h4,h5,p,code
      margin-bottom margin_article_elem
      &:last-child
        margin-bottom 0
    p
      font-size fontsize_article
      font-weight normal
      line-height 180%
