.container
  margin-left auto
  margin-right auto
  width:85%
  +disp_size_l()
    width 85%
  +disp_size_down_sp()
    width:90%

.container-narrow
  margin-left auto
  margin-right auto
  width:75%
  +disp_size_l()
    width:75%
  +disp_size_down_sp()
    width:70%

.container-wide
  margin-left auto
  margin-right auto
  width:95%
