body
  font-family "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif

body,ol,ul,dl,h1,h2,h3,h4,h5
  mar_pad_0()

ul,ol,dl
  list-style none

h1,h2,h3,h4,h5
  mar_pad_0()
  line-height 100%

h1
  font-size 26px
h2
  font-size 22px
h3
  font-size 18px
h4
  font-size 16px
h5
  font-size 13px

a
  text-decoration none

img
  max-width 100%
  height auto
